footer {
	background-color: #282828;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2vw;
	border-top: 2px solid black;
	width: 100%;
	position: relative;
	/* Permite que el footer fluya naturalmente después del contenido */
	z-index: 5;
	/* Asegura que el footer se quede por debajo del menú lateral y no se solape */
}
