<div class="container-fluid">
  <div class="row mt-5 mb-5"  id="usuarioContainer">
    <div class="col-md-10 col-sm-10 mx-auto" style="background-color: #dfead5; border-radius: 12px">
      <h2 class="text-center mt-5 mb-5 pt-4" style="font-size: 3.5vw; text-decoration: underline;">
        <i>Formulario de Registro: Usuario</i>
      </h2>
      <div class="registrarFormulario">
        <form>
          <table class="tablaFormulario" style="background-color: #dedede; color: black; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6), 0px -4px 8px rgba(0, 0, 0, 0.15)">
            <tbody>
              <tr>
                <td>
                  <label for="nombreCompletoUsuario" class="formularioLabel">Nombre Completo</label>
                  <input type="text" class="form-control" id="nombreCompletoUsuario" name="nombreCompletoUsuario" [(ngModel)]="usuario.nombreCompletoUsuario" required>
                </td>
                <td>
                  <label for="aliasUsuario" class="formularioLabel">Alias</label>
                  <input type="text" class="form-control" id="aliasUsuario" name="aliasUsuario" [(ngModel)]="usuario.aliasUsuario" required>
                </td>

              </tr>
              <tr>
                <td>
                  <label for="fechaNacimientoUsuario" class="formularioLabel">Fecha de Nacimiento</label>
                  <input type="date" class="form-control" id="fechaNacimientoUsuario" name="fechaNacimientoUsuario" [(ngModel)]="usuario.fechaNacimientoUsuario" required>
                </td>
                <td>
                  <label for="emailUsuario" class="formularioLabel">Correo Electrónico</label>
                  <input type="email" class="form-control" id="emailUsuario" name="emailUsuario" [(ngModel)]="usuario.emailUsuario" required>
                </td>

              </tr>
              <tr>
                <td>
                  <label for="telefonoUsuario" class="formularioLabel">Teléfono</label>
                  <input type="tel" class="form-control" id="telefonoUsuario" name="telefonoUsuario" [(ngModel)]="usuario.telefonoUsuario" required>
                </td>
                <td>
                  <label for="rolJugador" class="formularioLabel">Rol Usuario</label>
                  <select class="form-select" id="rolJugador" name="rolJugador" [(ngModel)]="usuario.rolUsuario" required>
                    <option value="Jugador">Jugador</option>
                    <option value="Portero">Entrenador</option>
                    <option value="Administrador">Administrador</option>
                  </select>
                </td>

              </tr>
              <tr>
                <td>
                  <label for="passwordUsuario" class="formularioLabel">Contraseña</label>
                  <input type="password" class="form-control" id="passwordUsuario" name="passwordUsuario" [(ngModel)]="password" required>
                </td>
                <td>
                  <label for="passwordUsuario" class="formularioLabel">Repetir Contraseña</label>
                  <input type="password" class="form-control" id="repetirPasswordUsuario" name="repetirPasswordUsuario" [(ngModel)]="passwordRepetida" required>
                </td>

              </tr>
              <tr>
                <td>
                  <label for="imagenUsuario" class="formularioLabel">Imagen del Usuario</label>
                  <input type="file"  class="form-control" id="imagenUsuario" name="imagenUsuario" (change)="onFileSelected($event)">
                </td>

                <td>
                  <label for="descripcionUsuario" class="formularioLabel">Descripción</label>
                  <textarea class="form-control" style="margin-bottom: 1vw;"id="descripcionUsuario" name="descripcionUsuario" [(ngModel)]="usuario.descripcionUsuario" rows="3"></textarea>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="text-center mt-4 mb-5">
            <button *ngIf="id" mat-button (click)=" modificarUsuario()">Modificar</button>
            <button *ngIf="!id" mat-button (click)="agregarUsuario()">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
