.columnaBotonRegistrar {
	display: flex;
	justify-content: center;
}

button.botonSeleccion {
	font-size: 1.1vw;
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-weight: bold;
	border: 1.5px solid black;
	border-radius: 3px;
	font-style: italic;
	margin-left: 1vw;
	margin-right: 1vw;
	background-color: #333333;
	color: white;
	border-radius: 10px;
	text-decoration: underline;
}

.botonSeleccion:hover {
	transform: scale(1.1);
}

.registrarFormulario {
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	width: 100%;
	font-size: 1.2vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-weight: bold;
	font-style: italic;
}

.tablaFormulario {
	width: 100%;
	margin-bottom: 1rem;
	color: black;
	background-color: #142800;
}

.tablaFormulario td, tr {
	padding: 8px;
	vertical-align: top;
	border: 1.2px solid #eeeeee;
	width: 50%;
}

.formularioLabel {
	font-weight: bold;
	font-size: 1.2vw;
}
