.contenedor {
	height: 82vh;
  }

  .contenido {
	margin-left: 16.6667%; /* El mismo ancho que el menú lateral para que el contenido no se solape */
	padding: 7px; /* Añadido para separar un poco el contenido de los bordes */
  }

  .tablaDatos {
	width: 100%;
	border-collapse: collapse;
	background-color: #eafeea;
	color: black;
	font-size: 1.1vw;
	box-shadow: 0vw 0.4vw 0.8vw rgba(0, 0, 0, 0.3), 0vw -0.4vw 0.8vw rgba(0, 0, 0, 0.15);
	font-family: 'Open Sans', sans-serif;
  }

  .tablaDatos th, .tablaDatos td {
	border: 0.11vw solid #aeaeae;
	padding: 0.6vw;
	text-align: center;
  }

  .tablaDatos th {
	text-decoration: underline;
	font-style: italic;
	font-size: 1.4vw;
	font-weight: bold;
	background-color: #2783b8; /* Azul elegante */
	color: white;
  }

  .tablaDatos td {
	border: 0.11vw solid #aeaeae;
	padding: 0.6vw;
	text-align: center;
	font-size: 1.3vw;
  }

  .tablaDatos tr:nth-child(even) {
	background-color: #e0fee0; /* Fondo para filas pares */
  }

  .tablaDatos tr:nth-child(odd) {
	background-color: #f1f1f1; /* Fondo para filas impares */
  }

  .tablaDatos tr:hover {
	background-color: #f9f9f9; /* Resaltar fila al pasar el ratón */
	cursor: pointer;
  }

  /* Establecer el tamaño de las columnas */
  .tablaDatos th:nth-child(1), .tablaDatos td:nth-child(1) {
	width: 7%; /* Columna "Imagen" */
  }

  .tablaDatos th:nth-child(2), .tablaDatos td:nth-child(2) {
	width: 7%; /* Columna "ID" */
  }

  .tablaDatos th:nth-child(3), .tablaDatos td:nth-child(3) {
	width: 30%; /* Columna "Nombre Club" */
  }

  .tablaDatos th:nth-child(4), .tablaDatos td:nth-child(4) {
	width: 30%; /* Columna "Email Club" */
  }

  .tablaDatos th:nth-child(5), .tablaDatos td:nth-child(5) {
	width: 10%; /* Columna "Teléfono" */
  }

  .tablaDatos th:nth-child(6), .tablaDatos td:nth-child(6) {
	width: 10%; /* Columna "Opciones" */
  }

  .usuario-imagen {
	width: 50px;
	height: 50px;
	border-radius: 15%;
	object-fit: cover;
  }

  .botonEliminarAdmin {
	border: 1px solid black;
	height: 2vw;
	margin-right: 1vw;
  }

  .botonEliminarAdmin:hover {
	border: 1.5px solid red;
  }

  .botonEliminarAdmin:active {
	border: 2px solid #d4af37;
  }

  .botonModificarAdmin {
	border: 1px solid black;
	height: 2vw;
  }

  .botonModificarAdmin:hover {
	border: 1.5px solid orange;
  }

  .botonModificarAdmin:active {
	border: 2px solid #d4af37;
  }

 /* Estilos globales para mat-paginator */
.mat-paginator {
  background-color: #f5f5f5; /* Color de fondo suave */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 8px; /* Espaciado interno */
}

.mat-paginator-range-actions {
  display: none; /* Opcional, si quieres ocultar la parte de rango de páginas */
}

.mat-paginator-button {
  background-color: #007bff; /* Color de fondo de los botones */
  color: white; /* Color de texto */
  border-radius: 50%; /* Botones redondeados */
  margin: 0 5px; /* Espaciado entre botones */
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.mat-paginator-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.mat-paginator-icon {
  font-size: 20px; /* Tamaño de los iconos de paginación */
}

.mat-paginator-page-size-label {
  font-weight: bold; /* Hacer en negrita la etiqueta de tamaño de página */
  color: #007bff; /* Color para la etiqueta de tamaño de página */
}

.mat-paginator-page-size {
  background-color: #e9ecef; /* Fondo del selector de tamaño de página */
  border-radius: 5px; /* Bordes redondeados */
}





  .busqueda-input {
    font-size: 14px; /* Ajusta el tamaño del texto */
    padding: 8px 12px; /* Reduce el tamaño de la barra de búsqueda */
    width: 250px; /* Ajusta el ancho del campo de búsqueda */
    background-color: #deecf5; /* Cambia el color de fondo */
    color: #333; /* Cambia el color del texto */
    border: 1px solid #0d6ba1; /* Cambia el borde */
    border-radius: 5px; /* Redondea los bordes si es necesario */
  }

  .busqueda-input::placeholder {
    color: #888; /* Cambia el color del texto del placeholder */
  }
