<div class="row" style="height: 3vw">
        <div class="col-md-2 col-sm-2 cabeceraAbajo" style="height: 100%; padding: 0;">
          <button mat-button [matMenuTriggerFor]="menuInicio" class="letraCabeceraAbajo" style="font-size: 1.63vw; padding: 0; color: white;">INICIO</button>
          <mat-menu #menuInicio="matMenu" style="font-size: 1.63vw;">
            <button mat-menu-item [routerLink]="['/inicio']" style="font-size: 1.63vw; color: black; ">Inicio</button>
          </mat-menu>
        </div>

        <div class="col-md-2 col-sm-2 cabeceraAbajo" style="height: 100%; padding: 0;">
          <button mat-button [matMenuTriggerFor]="menuUsuarios" class="letraCabeceraAbajo" style="font-size: 1.63vw; padding: 0; color: white;">USUARIOS</button>
          <mat-menu #menuUsuarios="matMenu" style="font-size: 1.63vw;">
            <button mat-menu-item [routerLink]="['listaUsuario']" style="font-size: 1.63vw; color: black;">Listado de Usuarios</button>
            <button mat-menu-item [routerLink]="['altaUsuario']" style="font-size: 1.63vw; color: black;">Nuevo Usuario</button>
          </mat-menu>
        </div>

        <div class="col-md-3 col-sm-3 cabeceraAbajo" style="height: 100%; padding: 0;">
          <button mat-button [matMenuTriggerFor]="menuInstalaciones" class="letraCabeceraAbajo" style="font-size: 1.63vw; padding: 0; color: white;">INSTALACIONES</button>
          <mat-menu #menuInstalaciones="matMenu" style="font-size: 1.63vw;">
            <button mat-menu-item [routerLink]="['/listaInstalacion']" style="font-size: 1.63vw; color: black;">Listado de Instalaciones</button>
            <button mat-menu-item [routerLink]="['/altaInstalacion']" style="font-size: 1.63vw; color: black;">Nueva Instalación</button>
          </mat-menu>
        </div>

        <div class="col-md-2 col-sm-2 cabeceraAbajo" style="height: 100%; padding: 0;">
          <button mat-button [matMenuTriggerFor]="menuClubes" class="letraCabeceraAbajo" style="font-size: 1.63vw; padding: 0; color: white;">CLUBES</button>
          <mat-menu #menuClubes="matMenu" style="font-size: 1.63vw;">
            <button mat-menu-item [routerLink]="['/listaClub']" style="font-size: 1.63vw; color: black;">Listado de Clubes</button>
            <button mat-menu-item [routerLink]="['/altaClub']" style="font-size: 1.63vw; color: black;">Nuevo Club</button>
          </mat-menu>
        </div>

        <div class="col-md-2 col-sm-2 cabeceraAbajo" style="height: 100%; padding: 0;">
          <button mat-button [matMenuTriggerFor]="menuArbitros" class="letraCabeceraAbajo" style="font-size: 1.63vw; padding: 0; color: white;">ARBITROS</button>
          <mat-menu #menuArbitros="matMenu" style="font-size: 1.63vw;">
            <button mat-menu-item [routerLink]="['/listadoArbitros']" style="font-size: 1.63vw; color: black;">Listado de Árbitros</button>
            <button mat-menu-item [routerLink]="['/altaArbitro']" style="font-size: 1.63vw; color: black;">Nuevo Árbitro</button>
          </mat-menu>
        </div>
</div>
