<div class="row p-2" style="background-color: #004000;">
  <!-- columna iquierda -->
  <div class="col-sm-5 col-md-5 ">
    <div class="row  ">
      <div class="col-sm-1 col-md-1 cabeceraAbajo  "></div>
      <div class="col-sm-3 col-md-3 cabeceraAbajo ">
        <a href="" class="letraCabeceraAbajo" style="color: #d4af37;">INICIO</a>
      </div>
      <div class="col-sm-4 col-md-4 cabeceraAbajo ">
        <a href="" class="letraCabeceraAbajo">ALQUILERES</a>
      </div>
      <div class="col-sm-3 col-md-3 cabeceraAbajo ">
        <a href="" class="letraCabeceraAbajo">EVENTOS</a>
      </div>
      <div class="col-sm-1 col-md-1 cabeceraAbajo"></div>

    </div>
  </div>

  <!-- columna derecha -->
  <div class="col-sm-7 col-md-7 ">

    <div class="row">
      <div class="col-sm-1 col-md-1 cabeceraAbajo "></div>
      <div class="col-sm-3 col-md-3 cabeceraAbajo ">
        <a href="" class="letraCabeceraAbajo">MI CLUB</a>
      </div>
      <div class="col-sm-3 col-md-3 cabeceraAbajo ">
        <a href="" class="letraCabeceraAbajo">MARCADORES</a>
      </div>
      <div class="col-sm-3 col-md-3 cabeceraAbajo ">
        <a href="" class="letraCabeceraAbajo">DESAFIOS</a>
      </div>
      <div class="col-sm-2 col-md-2 cabeceraAbajo">
        <div class="dropdown">
          <button class="btn btn-secondary " type="button"
            data-bs-toggle="dropdown" aria-expanded="false"
            style="background-color: #004000; width: 4vw; height: 2.3vw; border-radius: 5px; display: flex; justify-content: center; align-items: center; padding: 0;">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
              class="bi bi-list letraCabeceraAbajo" viewBox="0 0 16 16"
              style="width: 3vw; height: 2.2vw; color: white;">
<path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
</svg>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark"
            style="min-width: 12vw; font-size: 1.2vw; background-color: #003300; border-radius: 5px;">
            <li><a class="dropdown-item active" href="#"
              style="color: white; background-color: #005500;">Idioma
            </a></li>
            <li><a class="dropdown-item" href="#"
              style="color: white;">Ayuda </a></li>
            <li><a class="dropdown-item" href="#"
              style="color: white;">Configuración </a></li>
            <li>
              <hr class="dropdown-divider" style="border-color: #006600;">
            </li>
            <li><a class="dropdown-item" href="#"
              style="color: white;">Cerrar sesión </a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
