.cabeceraArriba {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1vw;
	;
	color: black;
	background-color: #43a624;
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

button.botonCabeceraContactar {
	width: 100%;
	font-size: 0.9vw;
	border-radius: 15px;
	background-color: #004000;
	color: white;
	border: 1px solid #d1d1d1;
	text-decoration: none;
}

button.botonCabeceraContactar:hover {
	background-color: #1c0101;
	border: 1px solid #004000
}

.cabeceraMedioTitulo {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.4vw;
	color: black;
	background-color: white;
	text-align: center;
	font-weight: bold;
}

.cabeceraMedio {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.08vw;
	color: #1d6212;
	background-color: white;
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.letraCabeceraMedio {
	text-decoration: none;
	color: #1d6212;
}

.letraCabeceraMedio:hover {
	color: black;
}

button.botonRegistrarCabecera {
	--bs-btn-padding-y: 1.5px;
	--bs-btn-padding-x: 9px;
	--bs-btn-font-size: 70%;
	border-radius: 3px;
	background-color: #99ff34;
	color: black;
	font-weight: bold;
	border: 1px solid #000000;
	font-size: 1.4vw;
	transition: background-color 0.3s ease;
}

button.botonRegistrarCabecera:hover {
	background-color: #d9ffb4;
	color: black;
}

button.botonRegistrarCabecera:active {
	background-color: #004000;
	color: white;
}

.cabeceraAbajo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.63vw;
	color: white;
	background-color: #004000;
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
  height: 1vw;
}

.cabeceraAbajoBusqueda {
	display: flex;
	align-items: center;
	justify-content: right;
	color: white;
	background-color: #004000;
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;

}

.letraCabeceraAbajo {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.letraCabeceraAbajo:hover {
	color: #d1d1d1;
}

  