<div class="contenedor">
  @if (club) {
    <mat-card appearance="outlined" style="margin: 1vw; background-color: #eeeeee; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6), 0px -4px 8px rgba(0, 0, 0, 0.02);">
      <mat-card-header>
        <mat-card-title>
          <h2><u>NOMBRE:</u> {{ club.nombreClub }}</h2>
        </mat-card-title>
        <mat-card-subtitle style="color: grey;">ID: {{ club.idClub }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <table class="club-tabla" style="margin: 2vw;">
          <tr>
            <th>🔠 Abreviatura</th>
            <td>{{ club.abreviaturaClub }}</td>
          </tr>
          <tr>
            <th>📧 Email</th>
            <td>{{ club.emailClub }}</td>
          </tr>
          <tr>
            <th>📞 Teléfono</th>
            <td>{{ club.telefonoClub }}</td>
          </tr>
          <tr>
            <th>🌍 País</th>
            <td>{{ club.paisClub }}</td>
          </tr>
          <tr>
            <th>📍 Localidad</th>
            <td>{{ club.localidadClub }}</td>
          </tr>
          <tr>
            <th>📝 Descripción</th>
            <td>{{ club.descripcionClub }}</td>
          </tr>
          <tr *ngIf="club.logoClub">
            <th>📸 Escudo</th>
            <td>
              <img [src]="club.logoClub" alt="Escudo del club" class="club-imagen">
            </td>
          </tr>
        </table>
      </mat-card-content>

      <mat-card-actions align="end">
        <button style="margin: 2vw; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6), 5px 4px 8px rgba(0, 0, 0, 0.2);"
          mat-raised-button color="primary" [routerLink]="['/altaClub', club.idClub]">
          ✏️ Editar Club
        </button>

        <button style="margin: 2vw; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6), 5px 4px 8px rgba(0, 0, 0, 0.2);"
          mat-raised-button color="warn" (click)="eliminarClub()">
          ❌ Eliminar Club
        </button>
      </mat-card-actions>
    </mat-card>
  }
</div>
